/* Base Stylings */


body {
  font-family: Helvetica, Arial, sans-serif;
  color: #4b4f54;
  background: #ececec;
}

hr {
  width: 95%;
  border-color: #65646a;
  border-width: 1px;

}
p {
  font-size: 14px;
  color: #808080;
}

input,
button,
select,
textarea {
  font-family: Arial, sans-serif;
}
.cardFix {
  height: 125px;
}
.cards-container {
  position: relative;
  padding: 5px 10px 45px;
  margin: 5px 5px 0;
  background-color: #808080;
  border: 1px solid #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
}
.cards-container table {
  color: #1a355e;
  background-color: white;
}
.cards-container .table td,
.cards-container .table th {
  text-align: center;
  vertical-align: middle;
}

circle25-text-info {
  color: #3e4148;
}
.content {
  height: 635px;
  margin-top: -30px;
  margin-left: -30px;
  color: black;
  background-color: white;
}

.container {
  background-color: white;
}
.fa {
  color: #ad141a;
}
.form-horizontal .control-label {
  text-align: left;
}

footer {
  margin-bottom: 25px;
  font-family: Helvetica, Arial, san-serif;
  font-size: 14px;
  color: #808080;

  background: white;
}

footer p {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}


.nav {
  width: 100%;
  padding-bottom: 5px;
  *text-align: center;

}
.nav li {
  display: inline;
  padding-left: 10px;
  line-height: 50px;
  text-align: center;
  list-style-type: none;

}
.nav li a {
  font-size: 18px;
  font-weight: bold;
  color: #808080;
  text-decoration: none;
  *text-transform: uppercase;
}

.nav li a:active {
  font-size: 18px;
  font-weight: bold;
  color: #3e4148;
  background-color: #b4b5b7;
}
.nav-stacked li a,
nav-stacked li a:hover,
nav-stacked li a:focus,
nav-stacked li a:active {
  font-size: 14px;
}
#navLogo {
  display: inline;
  float: left;
  margin-right: 200px;
  margin-left: 165px;
}
#navWrapper {
  width: 100%;
}
.normal {
  text-transform: none;
}
.top-nav {
  height: 40px;
  color: white;
}
.infoBox,
.loginBox {
  padding: 10px;
  margin-top: 125px;
  color: black;
  background-color: white;
  border-radius: 25px;
}
.shop {

  text-transform: uppercase;
}

.btn-primary {
  color: white !important;
  background-color: #abcae9;
  background-image: -moz-linear-gradient(top, #abcae9, #323232);
  background-image: -ms-linear-gradient(top, #abcae9, #323232);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#abcae9), to(#323232));
  background-image: -webkit-linear-gradient(top, #abcae9, #323232);
  background-image: -o-linear-gradient(top, #abcae9, #323232);
  background-image: linear-gradient(top, #abcae9, #323232);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#abcae9, endColorstr=#000000, GradientType=0);
  border: 1px solid #323232;
  border-color: #323232;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary .active,
.btn-primary .disabled,
.btn-primary[disabled] {
  color: #808080;
  background-color: #4b4f54;
  *background-color: #000;
}
.btn-primary:active,
.btn-primary .active,
btn-primary:focus,
.btn-primary .focus {
  background-color: #4b4f54;
}

.btn-link {
  font-size: 16px;
  color: black;
  text-shadow: white;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: gray;
  text-decoration: none;
  border-radius: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.stop {
  font-size: 18px;
  text-decoration: none;

}
a.stop:hover {
  text-decoration: none;

}

/* Clear fix */
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/* Print properties */
@media print {
  * {
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    -ms-filter: none !important;
    filter: none !important;
    box-shadow: none !important;
  } /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after { content: " (" attr(title) ")"; }
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr,
  img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p,
  h2,
  h3 { orphans: 3; widows: 3; }
  h2,
  h3 { page-break-after: avoid; }
}
