<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
	<div class="row" ng-repeat="lineItem in model.lineItems">
		<div class="col-xs-1" style="padding: 15px">
			<span style="font-size: 30px;">{{$index + 1}}.</span>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<label class="control-label">Select Amount for Card:</label><br/>
			<button ng-repeat-start="amount in model.cardAmounts" type="button" ng-click="model.setLineItemAmount(lineItem, amount)" class="btn btn-primary">
				<span ng-show="lineItem.amount === amount"><span class="glyphicon glyphicon-ok"></span> &nbsp;&nbsp;</span>
				<span>{{amount | currency: '$' }}</span>
			</button>
			<span ng-repeat-end>&nbsp;</span>
		</div>
		<div class="col-md-5 col-sm-3 col-xs-10">
			<div class="form-group">
				<label class="control-label">Amount:</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" step="any" class="form-control" name="amount" ng-model="lineItem.amount">
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2" ng-show="model.lineItems.length > 1">
			<label>&nbsp;</label><br/>
			<button type="button" class="btn btn-danger" title="Remove Card" ng-click="model.removeCard(lineItem)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>

	<div class="row" ng-show="model.canAddCard()">
		<div class="col-xs-1">
			&nbsp;
		</div>
		<div class="col-xs-11">
			<hr/>
			<button type="button" class="btn btn-primary" ng-click="model.addCard()">
				<span class="glyphicon glyphicon-plus"></span> &nbsp;
				<span>Add Card</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>

</div>
