<form name="paymentInfoForm" novalidate="">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="creditCardNumber" translate="FORMS.PROPERTIES.CREDIT_CARD_NUMBER"></label>
				<input type="text" class="form-control" name="creditCardNumber" id="creditCardNumber" ng-model="paymentInformation.creditCardNumber" placeholder="{{'FORMS.PROPERTIES.CREDIT_CARD_NUMBER' | translate}}" />
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="nameOnCard" translate="FORMS.PROPERTIES.NAME_ON_CARD"></label>
				<input type="text" class="form-control" name="nameOnCard" id="nameOnCard" ng-model="paymentInformation.nameOnCard" placeholder="{{ 'FORMS.PROPERTIES.NAME_ON_CARD' | translate }}" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="expiryMonth" translate="FORMS.PROPERTIES.EXPIRY_MONTH"></label>
				<input type="text" class="form-control" name="expiryMonth" id="expiryMonth" ng-model="paymentInformation.expiryMonth" placeholder="{{'FORMS.PROPERTIES.EXPIRY_MONTH' | translate}}" />
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="expiryYear" translate="FORMS.PROPERTIES.EXPIRY_YEAR"></label>
				<input type="text" class="form-control" name="expiryYear" id="addressTwo" ng-model="paymentInformation.expiryYear" placeholder="{{'FORMS.PROPERTIES.EXPIRY_YEAR' | translate}}" />
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="form-group">
				<label for="cvv" translate="FORMS.PROPERTIES.CVV_CODE"></label>
				<input type="text" class="form-control" name="cvv" id="addressTwo" ng-model="paymentInformation.cvv" placeholder="{{'FORMS.PROPERTIES.CVV_CODE' | translate}}" />
			</div>
		</div>
	</div>
</form>