<div class="row">
	<div class="col-sm-6 col-xs-11">
		<h2>Shipping Contact</h2>
		<sf-contact-info collect-email="false" type="edit" contact="model.shippingContact"></sf-contact-info>
	</div>
	<div class="col-xs-1"></div>
	<div class=" col-sm-5 col-xs-12">
		<h2>Shipping Method</h2>
		<div class="radio" ng-repeat="option in model.shippingOptions track by option.id">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios-{{option.id}}" ng-checked="model.order.selectedShippingOption.id === option.id" ng-click="model.order.selectedShippingOption = option">
				{{ option.description}}: {{option.amount | currency: '$' }}
			</label>
		</div>
	</div>
</div>