/* Base Stylings */


body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: white;
}

hr {
  border-color: #65646a;
  border-width: 1px;
}
p {
  font-size: 14px;
  color: #58595b;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #55585a;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
input,
button,
select,
textarea {
  font-family: "Open Sans", Arial, sans-serif;
}
.btn-primary {
  color: white !important;
  background-color: #006296;
  background-image: -moz-linear-gradient(top, #006296, #3080c3);
  background-image: -ms-linear-gradient(top, #006296, #3080c3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006296), to(#3080c3));
  background-image: -webkit-linear-gradient(top, #006296, #3080c3);
  background-image: -o-linear-gradient(top, #006296, #3080c3);
  background-image: linear-gradient(top, #006296, #3080c3);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#006296, endColorstr=#3080c3, GradientType=0);
  border: 1px solid #3080c3;
  border-color: #3080c3;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary .active,
.btn-primary .disabled,
.btn-primary[disabled] {
  color: white;
  background-color: #006296;
  *background-color: #006296;
}
.btn-primary:active,
.btn-primary .active,
btn-primary:focus,
.btn-primary .focus {
  background-color: #006296;
}

.carousel-control {
  margin-top: 300px;
}
.cards-container {
  position: relative;
  padding: 5px 10px 45px;
  margin: 5px 5px 0;
  background-color: #006296;
  border: 1px solid #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
}
.cards-container table {
  color: #1a355e;
  background-color: white;
}
.cards-container .table td,
.cards-container .table th {
  text-align: center;
  vertical-align: middle;
}

.content {
  height: 635px;
  margin-top: -30px;
  margin-left: -30px;
  color: black;
  background-color: white;
}

#divider {
  width: 100%;
  height: 5px;
  margin: 15px 0;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
}
.fa {
  color: #006296;
}
.form-horizontal .control-label {
  text-align: left;
}

footer {
  min-height: 45px;
  padding: 15px;
  color: white;

  background-color: #58595b;
}
footer p {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
footer li {
  display: inline;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}
footer a {
  color: white;
}
.footerLinks {
  padding-left: 20px;
}
.nav {
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
}
.nav li {
  display: inline;
  padding-left: 15px;
  line-height: 50px;
  text-align: center;
  list-style-type: none;

}
.nav li a {
  font-size: 18px;
  color: #65646a;
  text-decoration: none;
  text-transform: uppercase;
}

.nav li a:active {
  font-size: 18px;
  font-weight: bold;
  color: #65646a;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-stacked li a,
nav-stacked li a:hover,
nav-stacked li a:focus,
nav-stacked li a:active {
  font-size: 14px;
}
#navLogo {
  display: inline;
  float: left;
  margin-right: 200px;
  margin-left: 165px;
}
#navWrapper {
  width: 100%;
}
.normal {
  text-transform: none;
}
.top-nav {
  height: 40px;
  color: white;
  background-color: #55585a;
}
.infoBox,
.loginBox {
  padding: 10px;
  margin-top: 125px;
  color: black;
  background-color: white;
  border-radius: 25px;
}
.shop {

  text-transform: uppercase;
}
.button {
  display: inline-block;
  width: 68px;
  height: 29px;
  font-family: arial;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  *text-shadow: 1px 1px 0 #fff;

  /* -moz-box-shadow:inset 0px 1px 0px 0px #dfdfdf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dfdfdf;
	box-shadow:inset 0px 1px 0px 0px #dfdfdf; */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #006296), color-stop(1, #006296));
  background: -moz-linear-gradient(center top, #006296 5%, #006296 100%);
  background-color: #006296;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#006296", endColorstr="#006296");
  *border: 1px solid #1a355e;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
}
.button:active {
  position: relative;
  top: 1px;
}
.btn-link {
  font-size: 16px;
  color: white;
  text-shadow: black;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: black;
  text-decoration: none;
  border-radius: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.stop {
  font-size: 18px;
  text-decoration: none;

}
a.stop:hover {
  text-decoration: none;

}

/* Clear fix */
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/* Print properties */
@media print {
  * {
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    -ms-filter: none !important;
    filter: none !important;
    box-shadow: none !important;
  } /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after { content: " (" attr(title) ")"; }
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr,
  img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p,
  h2,
  h3 { orphans: 3; widows: 3; }
  h2,
  h3 { page-break-after: avoid; }
}
