@font-face {
  font-family: LenovoDoMedium;
  font-style: normal;
  font-weight: normal;
  src: url(type/lenovomd-webfont.eot);
  src: url(type/lenovomd-webfont.eot?#iefix) format("embedded-opentype"), url(type/lenovomd-webfont.woff) format("woff"), url(type/lenovomd-webfont.ttf) format("truetype"), url(type/lenovomd-webfont.svg#LenovoDoMedium) format("svg");
}

@font-face {
  font-family: LenovoDoBold;
  font-style: normal;
  font-weight: normal;
  src: url(type/lenovobd-webfont.eot);
  src: url(type/lenovobd-webfont.eot?#iefix) format("embedded-opentype"), url(type/lenovobd-webfont.woff) format("woff"), url(type/lenovobd-webfont.ttf) format("truetype"), url(type/lenovobd-webfont.svg#LenovoDoBold) format("svg");
}

@font-face {
  font-family: LenovoDoRegular;
  font-style: normal;
  font-weight: normal;
  src: url(type/lenovorg-webfont.eot);
  src: url(type/lenovorg-webfont.eot?#iefix) format("embedded-opentype"), url(type/lenovorg-webfont.woff) format("woff"), url(type/lenovorg-webfont.ttf) format("truetype"), url(type/lenovorg-webfont.svg#lenovo_do_regularregular) format("svg");
}

@font-face {
  font-family: LenovoDoLight;
  font-style: normal;
  font-weight: normal;
  src: url(type/lenovolg-webfont.eot);
  src: url(type/lenovolg-webfont.eot?#iefix) format("embedded-opentype"), url(type/lenovolg-webfont.woff) format("woff"), url(type/lenovolg-webfont.ttf) format("truetype"), url(type/lenovolg-webfont.svg#lenovo_do_lightlight) format("svg");
}

.hideElement {
  position: absolute;
  top: -9999px;
  display: none;
  visibility: hidden;
}

html,
body {
  height: 100%;
  color: #555;
  background: url(../img/pc_web-bkgd.png) repeat-x;
}

#body {
  font-family: Arial, Helvetica, sans-serif;
}

#body h1,
#body h3 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: LenovoDoBold, Arial, Helvetica, sans-serif;
  color: #000;
}

#body legend {
  font-family: LenovoDoMedium, Arial, Helvetica, sans-serif;
  color: #000;
  border: 0;
}

#body label,
#body [class*="span"],
#body input,
#body select,
#body .required-field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

a:link {
  color: #009dd9;
  text-decoration: none;
}

a:visited {
  color: #009dd9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #dc291e;
  text-decoration: none;
}

a#keep-shopping-button:link,
a#checkout-button:link,
a.checkout-button:link,
a#keep-shopping-button:visited,
a#checkout-button:visited,
a.checkout-button:visited,
a#keep-shopping-button:active,
a#checkout-button:active,
a.checkout-button:active {
  color: #fff;
}

#wrap {
  min-height: 100%;
}

#main {
  padding-bottom: 400px;
  overflow: auto;

  /* this needs to be bigger than footer height */
  background-image: url(../img/blue-bkgd-slice.png);
  background-repeat: repeat-x;

  /* background-image: url(/Content/images/diamond-texture.png);
	background-repeat: repeat-x; */
}

#footer {
  position: relative;
  height: 375px;
  margin-top: -375px;
  clear: both;

  /* padding-top: 50px; */
}

#footer .prefooter {
  min-height: 288px;
  padding-top: 30px;

  /* IE6-9 */
  color: #fff;
  background: #a7a7a7;

  /* Old browsers */
  background: -moz-linear-gradient(top, #a7a7a7 95%, #747474 100%);

  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, #a7a7a7), color-stop(100%, #747474));

  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a7a7a7 95%, #747474 100%);

  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a7a7a7 95%, #747474 100%);

  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a7a7a7 95%, #747474 100%);

  /* IE10+ */
  background: linear-gradient(to bottom, #a7a7a7 95%, #747474 100%);

  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#a7a7a7", endColorstr="#747474", GradientType=0);
}

#footer .postfooter {
  min-height: 56px;
  color: #fff;
  background-color: #555;
}

#footer .copyright {
  font-size: 11px;
  color: #9fa7a7;
  text-align: center;
}

#footer .copyright a {
  font-size: 11px;
  color: inherit;
  text-decoration: none;
}

.prefooter h2 {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
}

.prefooter h2 a {
  color: inherit;
  text-decoration: none;
}

.prefooter ul {
  margin: 0;
}

.prefooter ul li {
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: #373737;
  text-transform: none;
}

.prefooter ul li a {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  text-transform: inherit;
}

.callout {
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 2px -1px #d6d6d6;
  box-shadow: 2px 2px 2px -1px #d6d6d6;
}

.callout > div {
  margin: 20px;
}

.section_header p {
  margin-bottom: 25px;
  margin-left: 25px;
  font-size: 13px;
  line-height: 24px;
  color: #555;
}

.section_header .row {
  margin-left: 0;
}

.section_header .sub-section {
  padding-top: 25px;
}

.menu > li > a,
.brand {
  text-transform: uppercase;
}

.navbar .brand {
  font-weight: 500 !important;
}

.form .box input[type="text"],
.form .box select {
  width: 89%;
  height: 29px;
  padding-left: 39px;
  margin-bottom: 10px;
  color: black;
  border-radius: 3px;
}

.form .box input[type="text"].securityCode {
  /* width: 32%; */
  width: 114px;
  padding-left: 10px;
}

.form .box input.card-id {
  background: url(../img/card-icon.png) #fff no-repeat 5px;
}

.form .submit {
  height: 49px;
}

.form .submit input[type="submit"] {
  margin-top: 5px;
}

input[type="submit"].submit {
  width: auto !important;
  margin-bottom: 10px !important;
}

input[type="text"].securityCode {
  /* width: 32%; */
  width: 114px;
  height: 29px;
  padding-left: 10px;
  margin-bottom: 10px;
}

input.card-id {
  height: 29px !important;
  padding-left: 39px !important;
  margin-bottom: 10px !important;
  color: black !important;
  background: url(../img/card-icon.png) #fff no-repeat 5px;
  border-radius: 3px !important;
}

.features_op1_row ul {
  list-style: none;
}

.required {
  padding-right: 12px;
  background: url(../img/required.png) no-repeat right center;
}

.required-left {
  padding-left: 12px;
  background: url(../img/required.png) no-repeat left center;
}

#in_pricing .head h6 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #8e8e8f;
}

#in_pricing .charts_wrapp {
  margin-bottom: 40px;
  margin-left: -20px;
}

#in_pricing .charts_wrapp .plan {
  /* width: 95%;
                        position: relative;
                        margin-bottom: 10px; */
}

@media (max-width: 767px) {
  #in_pricing .charts_wrapp .plan {
    margin-left: 5%;
  }
}

#in_pricing .plan .wrapper {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

#in_pricing .plan h3 {
  margin: 0 0 5px;
  font-size: 28px;
  font-style: italic;
  font-weight: normal;
  line-height: 25px;
  color: #535353;
}

#in_pricing .plan .price {
  position: absolute;
  top: -9999px;
  display: none;
  margin-top: 30px;
  font-size: 17px;
  color: #1189d9;
  visibility: hidden;
}

#in_pricing .plan .price span.dollar {
  position: relative;
  top: -6px;
  margin-right: 3px;
  font-size: 32px;
}

#in_pricing .plan .price span.qty {
  position: relative;
  top: 2px;
  margin-right: 4px;
  font-size: 47px;
}

#in_pricing .plan .price span.month {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

#in_pricing .plan .features {
  margin-top: 30px;
}

#in_pricing .plan .features p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #838385;
}

#in_pricing .plan .order {
  /* width: 48%; */
  display: block;
  padding: 3px 0;
  margin: 25px auto 0;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #2190db;
  border: 0;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

#in_pricing .plan .order:hover {
  background: #252528;
}

#in_pricing .plan img.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

#in_pricing .span3 {
  padding-left: 6px;
  margin-right: 13px;
  margin-left: 0;
}

#in_pricing .span3:not(:first-child) {
  border-left: #221f1f dotted 1px;
}

#in_pricing .pro .plan {
  /* width: 100%;
                        top: -20px;
                        box-shadow: 0px 0px 7px -1px rgb(214, 214, 214);
                        border: 1px solid #d9d9d9;

                        .wrapper {
                                padding: 36px 30px 35px 30px;
                        } */
}

#in_pricing .pro .plan a.order {
  margin-top: 35px;
}

#in_pricing .start {
  width: 100%;
  text-align: center;
}

#in_pricing .start p {
  display: inline-block;
  margin: 0 18px 0 0;
  font-size: 24px;
  font-style: italic;
  line-height: 26px;
  color: #5b5b5d;
}

#in_pricing .start a {
  padding: 7px 17px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #252528;
  border-radius: 4px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

#in_pricing .start a:hover {
  background: #2190db;
}

#in_pricing .standar .plan {
  float: right;
}

#in_pricing2 .plan .order:hover {
  background: #252528;
}

.custom-amount h6 {
  margin: 0 0 16px;
  font-size: 21px;
  font-style: italic;
  font-weight: normal;
  line-height: 29px;
  color: #252526;
}

.custom-amount h6 button {
  margin: 0 0 16px;
  font-size: 21px;
  font-style: italic;
  font-weight: normal;
  line-height: 29px;
}

.card-wells .well .row {
  margin-bottom: 5px;
}

.card-wells .well .row .span3 {
  /* margin-left: -20px;
                                padding-left: 40px; */
  margin-right: -40px;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printSection,
  #printSection * {
    visibility: visible;
  }

  #printSection {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* .error {
        text-align: center;
}
*/
.error ul {
  list-style: none;
}

.error li {
  color: #bf816e;
}

.form-horizontal input[type="submit"],
.form-horizontal input[type="button"],
.form-horizontal .button {
  padding: 8px 18px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #187ccc;
  border: 0 none;
  border-radius: 3px;
  -webkit-transition: background linear .2s, box-shadow linear .2s;
  -moz-transition: background linear .2s, box-shadow linear .2s;
  -o-transition: background linear .2s, box-shadow linear .2s;
  transition: background linear .2s, box-shadow linear .2s;
}

#register input[type="radio"],
#register input[type="checkbox"] {
  margin: 0 !important;
}

@media (min-width: 980px) {
  #register .form-horizontal .control-label {
    width: 140px;
  }

  #register .form-horizontal .controls {
    margin-left: 160px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #register .form-horizontal .control-label {
    width: 80px;
  }

  #register .form-horizontal .controls {
    margin-left: 100px;
  }
}

.sign-in-form {
  margin: -5px;
}

.sign-in-form .sign-in-commands {
  display: inline-block;
  width: 100%;
  margin-top: 3px;
}

.sign-in-form .sign-in-commands a {
  font-size: 13px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  filter: alpha(opacity=60);
  opacity: .6;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.sign-in-form .sign-in-commands a:hover {
  color: #fff;
  opacity: 1;
}

.sign-in-form .sign-in-commands a:first-child {
  margin-right: 10px;
}

.checkout-order {
  /* .row {
                border: 1px solid blue;
        } */
}

.checkout-order h3 {
  font-family: LenovoDoRegular;
}

.checkout-order .section {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.checkout-order .section:not(:last-child) {
  margin-bottom: 10px;
}

.checkout-order .section h4 {
  margin-left: 20px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .checkout-order input {
    width: 100% !important;
  }

  .checkout-order select {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  input[class*="span"] {
    width: auto !important;
    margin-bottom: 10px !important;
  }

  .half {
    float: left !important;
    width: 50% !important;
    padding: 0 5px !important;
  }

  .card-wells .well .row .span3 {
    /* margin-left: -20px;
                padding-left: 40px; */
    margin-right: 0;
  }

  .navbar-static-top .container {
    width: auto !important;
  }
}

@media (max-width: 480px) {
  .required {
    background-position: center center !important;
  }

  #modalCardInfo.modal {
    top: auto !important;
    right: auto !important;
    left: 0 !important;
    width: auto !important;
  }

  .btn {
    margin-bottom: 10px !important;
  }

  h3 {
    padding-top: 20px !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 300px) {
  .half {
    float: none !important;
    width: 100% !important;
    margin-right: 3px;
  }

  .card-wells .well .row .span3 {
    /* margin-left: -20px;
                padding-left: 40px; */
    margin-right: 40px;
  }

  input {
    width: auto !important;
  }

  /* #modalCardInfo.modal {
		display: none;
	} */
}

.navbar .nav > li.active > a {
  font-weight: 500;
  background-color: transparent;
}

.navbar-static-top .container {
  width: auto !important;
  text-align: center;
}

.modal-header.top {
  background-color: #f5f5f5 !important;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.card-mask-toggler {
  margin-left: 3px;
}

.nav-stacked > li > span > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.row .balances {
  margin-left: 0 !important;
}

.nav-btn {
  position: relative;
  top: 4px;
  display: inline-block;
  height: 10px;
  margin-right: 8px;
  margin-left: 8px;
  line-height: 8px;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #13161b;
  border-color: #000;
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
  border-radius: 6px;
}

.nav-btn.login {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #8fb450, #648a43);
  background-image: -ms-linear-gradient(top, #8fb450, #648a43);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb450), to(#648a43));
  background-image: -webkit-linear-gradient(top, #8fb450, #648a43);
  background-image: -o-linear-gradient(top, #8fb450, #648a43);
  background-image: linear-gradient(to top, #8fb450, #648a43);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#8fb450", endColorstr="#648a43", GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}

.nav-btn.signup {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to top, #5bc0de, #2f96b4);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#5bc0de", endColorstr="#2f96b4", GradientType=0);
  border-color: #5bc0de #5bc0de #2f96b4;
}

.nav-btn.logoff {
  background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to top, #ee5f5b, #bd362f);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ee5f5b", endColorstr="#bd362f", GradientType=0);
  border-color: #ee5f5b #ee5f5b #bd362f;
}

@media (max-width: 979px) {
  .nav-extras {
    float: none;
    padding-top: 10px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  }

  .nav-btn {
    margin-left: 15px;
  }

  .nav-btn:last-child {
    margin-top: 10px;
  }

  .nav-btn.login {
    display: inline-block;
  }

  .nav-btn.signup {
    display: inline-block;
  }
}

.cards-container {
  position: relative;
  padding: 5px 10px 45px;
  *padding-top: 19px;
  margin: 5px 5px 0;
  background: #ccc url(~/content/images/lenovo/stripes-bg.png);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.cards-container h4 {
  margin-left: 5px;
  font-family: LenovoDoBold;
  color: #000;
  text-transform: uppercase;
}

.cards-container table {
  color: #9da0a4;
  background-color: #fff;
  border: 1px solid #cecfce;
  -webkit-border-radius: 4px 0;
  -moz-border-radius: 4px 0;
  border-radius: 4px 0;
}

.cards-container img {
  height: 50px;
}

.cards-container .table td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  text-align: center;
  vertical-align: middle;
}

.cards-container .table td li {
  text-align: left;
}

.cards-container .table th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #efefef;
}

#cardsTable tbody > tr:nth-child(even) > td {
  background-color: #f8f8f8;
}

#cardsTable tbody > tr:nth-child(odd) > td {
  background-color: #fff;
}

.mycards-content {
  margin: 0 5px 20px;
}

.dropdown-menu li.inactive {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #9da0a4;
  white-space: nowrap;
}

#body .lenovo-navbar li > a {
  float: none;
  height: 15px;
  padding: 10px 7px;
  font-family: LenovoDoBold;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

#body .lenovo-navbar > li.active > a {
  color: #009dd9 !important;
}

#body .lenovo-navbar > li::after {
  position: absolute;
  right: 0;
  margin-top: -26px;
  color: grey;
  content: "|";
}

@media (max-width: 767px) {
  #body .lenovo-navbar > li::after {
    content: "";
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #body .lenovo-navbar > li::after {
    content: "";
  }
}

.orderbutton {
  display: block;
  width: 106px;
  height: 30px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 1px 1px 0 #3e3e3e;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #626062), color-stop(1, #424542));
  background: -moz-linear-gradient(center top, #626062 5%, #424542 100%);
  background-color: #626062;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#626062", endColorstr="#424542");
  border: 1px solid #292929;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-box-shadow: inset 0 1px 0 0 #626062;
  -webkit-box-shadow: inset 0 1px 0 0 #626062;
  box-shadow: inset 0 1px 0 0 #626062;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

.orderbutton:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #424542), color-stop(1, #626062));
  background: -moz-linear-gradient(center top, #424542 5%, #626062 100%);
  background-color: #424542;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#424542", endColorstr="#626062");
}

.orderbutton:hover a {
  text-decoration: none;
}

.orderbutton:active {
  position: relative;
  top: 1px;
}

.shopping-cart-header {
  margin-bottom: 5px;
}

.shopping-cart-header h3 {
  margin: 0;
  font-family: LenovoDoBold;
  font-size: 18px;
  color: #dc291e;
}

.shopping-cart-header .row-line {
  border-bottom: 1px black solid;
}

.cart-items .cart-item:not(:last-child) .row-line {
  margin-bottom: 15px;
  border-bottom: #b3b3b3 1px solid;
}

.cart-items .cart-item:last-child .row-line {
  margin-bottom: 5px;
  border-bottom: 0;
}

.cart-items .cart-quantity {
  width: 35px;
}

.cart-items .cart-item-amount {
  color: #555;
}

.cart-items .cart-item-total {
  color: #555;
}

.cart-terms-and-conditions {
  position: absolute;
  top: -9999px;
  display: none;
  visibility: hidden;
}

.cart-buttons {
  display: inline;
  float: right;
  text-align: right;
}

.cart-buttons .cart-button-left-container {
  float: left;
  margin-right: 3px;
}

.cart-buttons .cart-button-right-container {
  float: right;
}

.purchase-total,
.sub-total {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: -20px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px #b8b8b8 solid;
}

.cart-button {
  width: 174px;
  height: 30px;
  margin-right: 20px;
  margin-left: 2px;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

#keep-shopping-button {
  display: inline-block;
  color: #fff;
  text-shadow: 1px 1px 0 #153e51;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #4eb3e2), color-stop(1, #206385));
  background: -moz-linear-gradient(center top, #4eb3e2 5%, #206385 100%);
  background-color: #4eb3e2;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#4eb3e2", endColorstr="#206385");
  border: 1px solid #206385;
  -moz-box-shadow: inset 0 1px 0 0 #4eb3e2;
  -webkit-box-shadow: inset 0 1px 0 0 #4eb3e2;
  box-shadow: inset 0 1px 0 0 #4eb3e2;
}

#keep-shopping-button a {
  color: inherit;
}

#keep-shopping-button:hover {
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #206385), color-stop(1, #4eb3e2));
  background: -moz-linear-gradient(center top, #206385 5%, #4eb3e2 100%);
  background-color: #206385;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#206385", endColorstr="#4eb3e2");
}

#keep-shopping-button:active {
  position: relative;
  top: 1px;
}

.checkout-button {
  width: 174px;
  height: 30px;
  margin-right: 20px;
  margin-left: 2px;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

#checkout-button,
.checkout-button {
  display: inline-block;
  color: #fff;
  text-shadow: 1px 1px 0 #3a5c16;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #79c521), color-stop(1, #5c9c18));
  background: -moz-linear-gradient(center top, #79c521 5%, #5c9c18 100%);
  background-color: #79c521;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#79c521", endColorstr="#5c9c18");
  border: 1px solid #56a011;
  -moz-box-shadow: inset 0 1px 0 0 #79c521;
  -webkit-box-shadow: inset 0 1px 0 0 #79c521;
  box-shadow: inset 0 1px 0 0 #79c521;
}

#checkout-button i,
.checkout-button i {
  margin-right: 3px;
  color: white;
  text-shadow: 1px 1px 0 #3a5c16;
}

#checkout-button:hover,
.checkout-button:hover {
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #5c9c18), color-stop(1, #79c521));
  background: -moz-linear-gradient(center top, #5c9c18 5%, #79c521 100%);
  background-color: #5c9c18;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#5c9c18", endColorstr="#79c521");
}

#checkout-button:active,
.checkout-button:active {
  position: relative;
  top: 1px;
}

#profileForm h4 {
  font-family: LenovoDoRegular;
}

.section_header h2,
.section_header h3,
.section_header h4 {
  font-family: LenovoDoBold;
}

h3.circle25-text-info,
h4.circle25-text-info {
  font-family: LenovoDoBold;
}

div.section_header {
  width: 100%;
  padding-bottom: 20px;
}

.cardInfoHeader {
  padding: 0 0 20px;
}

#body .btn {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  background-color: #f5f5f5;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

#body .btn-primary {
  color: #fff;
  text-shadow: 1px 1px 0 #153e51;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #4eb3e2), color-stop(1, #206385));
  background: -moz-linear-gradient(center top, #4eb3e2 5%, #206385 100%);
  background-color: #4eb3e2;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#4eb3e2", endColorstr="#206385");
  border: 1px solid #206385;
  -moz-box-shadow: inset 0 1px 0 0 #4eb3e2;
  -webkit-box-shadow: inset 0 1px 0 0 #4eb3e2;
  box-shadow: inset 0 1px 0 0 #4eb3e2;
}

section.contact:first-of-type {
  margin-top: 40px;
}

.lenovo-header {
  width: 100%;
  height: 65px;
  background-image: url("../img/header_gradient.png");
  background-repeat: repeat-x;
}

.lenovo-header .red-spacer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 30%;
  height: 65px;
  background-color: #dc291e;
}

.account-nav-collapsible > li a {
  font-family: LenovoDoBold !important;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
}

.account-nav {
  margin-top: 20px !important;
}

.account-nav a {
  color: #fff !important;
}

.account-nav a:hover {
  color: #fff;
  text-decoration: none !important;
  background-color: transparent !important;
}

.account-nav > li {
  border-right: 1px solid #333;
  border-left: 1px solid #999;
}

.account-nav > li a {
  font-family: LenovoDoBold !important;
  font-weight: bold;
  line-height: 1px !important;
  text-transform: uppercase;
}

.account-nav > li:first-child {
  border-left: none;
}

.account-nav > li:last-child {
  border-right: none;
}

p.lead {
  font-size: 13px;
}

.help-block {
  font-size: 11px;
}

.modal h3 {
  margin-bottom: 0 !important;
}

.navbar-inner .btn {
  background-color: #0e0e0e !important;
}

#formSetPin,
#formChangePin {
  margin: 0;
}

#body .profile-subtitle,
#userForm.profile {
  margin-left: 0;
}

#associateCardAddModal h1 {
  margin: 0;
  margin-bottom: 0 !important;
  font-size: 24.5px;
  line-height: 30px;
}

h4 {
  font-family: LenovoDoBold !important;
}

.contact p {
  font-size: 13px;
  color: #555;
}

.login-action-area {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.login-column {
  position: relative;
  min-height: 280px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .span3.responsive {
    width: 228px;
  }

  .email-signup-container.responsive {
    width: 100%;
    margin: 30px;
  }
}

/* Email Signup Block */
.block * {
  position: relative;
  display: block;
}

.block .background {
  padding: 10px;
  background: none repeat scroll 0 0 #bbb;
}

.prefooter ol,
.prefooter ul {
  list-style: none;
}

.footer_column .block {
  margin-bottom: 10px;
}

.footer_column .block .background {
  padding: 10px;
  background: none repeat scroll 0 0 #bbb;
}

.footer_column .block * {
  position: relative;
  display: block;
}

#email_sign_up_block.block {
  position: relative;
}

#email_sign_up_block.block .banner {
  height: 30px;
  margin-bottom: -3px;
  margin-left: -15px;
}

#email_sign_up_block.block .banner .text {
  padding: 4px 10px;
  font-family: LenovoDoBold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: none repeat scroll 0 0 #dc291e;
}

#email_sign_up_block.block .banner .text .box-text {
  display: inline;
  padding: 0 2px;
  color: #dc291e;
  text-transform: uppercase;
  background: none repeat scroll 0 0 #fff;
}

#email_sign_up_block.block .banner .img img {
  left: -3px;
  width: 18px;
  height: 15px;
}

#email_sign_up_block.block .background .email-wrap #email {
  width: 130px;
  height: 15px;
  padding: 3px 0 2px 3px;
  margin: 1px -4px 0 0;
  font-size: 10px;
  color: #666;
  border: 1px solid #cecfce;
}

#email_sign_up_block.block .background .submit-wrap {
  float: right;
  margin-top: -23px;
}

#social_follow_block [class^="icon-"],
#social_follow_block [class*=" icon-"] {
  width: auto;
}

#social_follow_block .icon-wrap {
  background: none;
}

#social_follow_block .iconlist {
  width: auto !important;
}

#social_follow_block.block .background {
  background-color: transparent;
}

#social_follow_block.block .follow-text {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

#social_follow_block.block .icon-wrap {
  height: 25px;
}

#social_follow_block.block .icon-wrap .iconlist {
  height: 35px;
}

#social_follow_block.block .icon-wrap .iconlist li {
  float: left;
  width: 28px;
}

#social_follow_block.block .addthis_32x32_style > a {
  width: 28px;
  padding: 0;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_facebook_follow > span {
  background: url("//www.lenovo.com/images/footer/facebook_25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_twitter_follow > span {
  background: url("//www.lenovo.com/images/footer/twitter_25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_google_follow > span {
  background: url("//www.lenovo.com/images/footer/google-plus_25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_youtube_follow > span {
  background: url("//www.lenovo.com/images/footer/youtube_25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_flickr_follow > span {
  background: url("//www.lenovo.com/images/footer/flickr_25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_pinterest_follow > span {
  background: url("//www.lenovo.com/images/footer/big-p-button-25x25.png") no-repeat center center transparent !important;
}

#social_follow_block.block .addthis_32x32_style > a.addthis_button_rss_follow > span {
  background: url("//www.lenovo.com/images/footer/lenovoforums_25x25.png") no-repeat center center transparent !important;
}

#truste.block {
  padding: 10px;
}

ol.parent-prefix {
  counter-reset: item;
}

ol.parent-prefix li {
  display: block;
}

ol.parent-prefix li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.input-validation-error {
  border: 1px solid #b94a48 !important;
}

.input-validation-error:focus {
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}

.info-icon-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/icon-info_gray.png) no-repeat center #eee;
}

#culture-selection {
  display: inline-block;
}

#culture-selection:hover #culture-list {
  position: absolute;
  top: auto;
  z-index: 3;
  display: block;
  vertical-align: bottom;
  visibility: visible;
  opacity: 1;
}

#culture-selection #current-culture {
  display: inline;
  padding: 7px;
  color: white;
}

#culture-selection #culture-list {
  position: absolute;
  top: -9999px;
  padding: 0 10px;
  margin-left: 5px;
  text-align: left;
  visibility: hidden;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
  opacity: 0;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  -ms-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}

#culture-selection #culture-list .culture-list-header {
  font-family: LenovoDoMedium;
  color: #009dd9;
  text-align: left;
  text-transform: uppercase;
  border-bottom: solid rgba(0, 0, 0, .4) 1px;
}

#culture-selection #culture-list ul {
  margin-left: 0;
}

#culture-selection #culture-list ul li {
  list-style-type: none;
}

#culture-selection #culture-list ul li a {
  color: rgba(0, 0, 0, .4);
}

#culture-selection #culture-list ul li a:hover {
  color: black;
}
