/* Base Stylings */


body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.375em;
  color: #474749;
  background: #f0f5f7;
}
h1 {
  font-size: 3em;
  line-height: 1.05em;

}
h2 {
  font-size: 1.286em;
}
h3 {
  font-size: 18px;
}
hr {
  width: 95%;
  border-color: #44983b;
  border-width: 1px;

}
p {
  font-size: 14px;
  color: #555;
}
a,
a:hover {

  text-decoration: none;
}

input,
button,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.cardFix {
  height: 125px;
}
.cards-container {
  position: relative;
  padding: 5px 10px 45px;
  margin: 5px 5px 0;
  color: white;
  background-color: #0779c0;
  border: 1px solid #d1d1d1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
}
.cards-container table {
  color: #474749;
  background-color: white;
}
.cards-container .table td,
.cards-container .table th {
  text-align: center;
  vertical-align: middle;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #c9c9c9;
}
circle25-text-info {
  color: #3e4148;
}
.content {
  height: 635px;
  margin-top: -30px;
  margin-left: -30px;
  color: black;
  background-color: white;
}

.container {
  background-color: white;
}
.fa {
  color: #44983b;
}
.form-horizontal .control-label {
  text-align: left;
}

footer {
  *background: #bcbcbc;
}

footer p {
  padding-right: 15px;
  padding-left: 15px;

}

.modal {
  border: 1px solid #cecfce;
}
.nav {
  width: 100%;
  padding-bottom: 0;
  *text-align: center;
  background-color: white;

}

.nav li {
  display: inline;
  padding-left: 20px;
  line-height: 50px;
  text-align: center;
  list-style-type: none;

}
.nav li a {
  font-size: 1.25em;
  font-weight: bold;
  color: #474749;
  text-decoration: none;
}


.nav-stacked li a,
nav-stacked li a:hover,
nav-stacked li a:focus,
nav-stacked li a:active {
  font-size: 14px;
}
#navLogo {
  display: inline;
  float: left;
  margin-right: 200px;
  margin-left: 165px;
}
#navWrapper {
  width: 100%;
}
.normal {
  text-transform: none;
}
#logoWrapper {
  background-color: white;
}
.top-nav {
  height: 40px;
  background-color: white;
}
.infoBox,
.loginBox {
  padding: 10px;
  margin-top: 125px;
  color: black;
  background-color: white;
  border-radius: 25px;
}
.shop {

  text-transform: uppercase;
}
.btn-primary {
  color: #fff;
  text-shadow: 1px 1px 1px #111;
  background: #44983b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #44983b), color-stop(100%, #3b8433)), #44983b;
  background: -webkit-linear-gradient(top, #44983b, #3b8433), #44983b;
  background: -moz-linear-gradient(top, #44983b, #3b8433), #44983b;
  background: -o-linear-gradient(top, #44983b, #3b8433), #44983b;
  background: linear-gradient(top, #44983b, #3b8433), #44983b;
  border: 1px solid #cecfce;

}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #44983b;
}

.btn-link {
  font-size: 1em;
  color: #44983b;
  color: #44983b;
  border: none;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #3b8433;
  text-decoration: none;
  border: none;
  border-radius: 0;

}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: black;
}
.stop {
  font-size: 18px;
  text-decoration: none;

}
a.stop:hover {
  text-decoration: none;

}

/* Clear fix */
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/* Print properties */
@media print {
  * {
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    -ms-filter: none !important;
    filter: none !important;
    box-shadow: none !important;
  } /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after { content: " (" attr(title) ")"; }
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr,
  img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: .5cm; }
  p,
  h2,
  h3 { orphans: 3; widows: 3; }
  h2,
  h3 { page-break-after: avoid; }
}
