body {
  font-family: Railway, Arial, sans-serif;
  color: white;
  background-color: #333;
}

.navbar-default,
.navbar-collapse,
.navbar-default .navbar-form {
  background-color: #555;
  border-color: #555;
}

.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #e3e3e3;
}
