.da-slide{
  position: relative;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
  position: absolute;
  left: 10%;
  opacity: 1;
}
.da-slide .da-img{
  left: 60%;
}
.da-dots,
.da-arrows{
  display: none;
}
