/* Base Stylings */
body { font-family: Segoe, "Segoe UI", Arial, "Trebuchet MS", sans-serif; font-size: 16px; color: #045498; background-color: #f0f1f2; }
h1 { margin-bottom: 15px; margin-left: 25px; font-size: 40px; }
footer { padding: 15px; margin-top: 15px; color: white; background-color: #6a737b; }
footer a { color: white; }
footer a:hover { text-decoration: none; }

/* Page Stylings */
.about { padding-right: 5px; padding-left: 5px; font-size: 12px; }
.accordionImg { float: left; width: 20%; margin: 10px; }
.blogMenuBox { padding: 15px; background-color: #e7f1fa; border-radius: 25px; }
.blogMenuItem { list-style-type: none; list-style-image: none; }
.blogPost { padding: 10px; background-color: white; border-radius: 25px; }
.boxLink{ color: #045498; }
.boxLink h1:hover,
.boxLink h1:active { color: white; text-decoration: none; }
.bold { font-weight: bold; }
.calcOutput { font-size: 24px; font-weight: bold; }
#pOResults { padding: 5px; border: 1px solid #f7901e; }
#resultsHighlight { color: white; background-color: #139c36; }
.formInput { text-align: right; }

/* li {list-style-image:url('../img/ccLI.png');list-style-position:inside;margin-bottom:5px;} */
.clientScrollBox { height: 200px; margin-top: 20px; background-color: #f2f8fd; }
.headerImage { width: 100%; height: 350px; margin-bottom: 50px; margin-left: 0; background: transparent url("../img/ccBlue3_2.jpg") repeat-x; border-top: 5px solid #045498; border-bottom: 5px solid #045498; box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff; }
.headerImageBusiness { width: 100%; height: 350px; margin-bottom: 50px; margin-left: 0; background: transparent url("../img/ccBlue3_2.jpg") repeat-x; border-top: 5px solid #f7901e; border-bottom: 5px solid #f7901e; box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff; }
.headerImageConsumer { width: 100%; height: 350px; margin-bottom: 50px; margin-left: 0; background: transparent url("../img/ccBlue3_2.jpg") repeat-x; border-top: 5px solid #7fbb42; border-bottom: 5px solid #7fbb42; box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff; }
.headerImageServices { width: 100%; height: 350px; margin-bottom: 50px; margin-left: 0; background: transparent url("../img/ccBlue3_2.jpg") repeat-x; border-top: 5px solid #7c2b83; border-bottom: 5px solid #7c2b83; box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff; }
.headerImageVirtual { width: 100%; height: 150px; margin-right: auto; margin-bottom: 15px; margin-left: auto; background: transparent url("../img/bgHeader.png") repeat; border-top: 5px solid #045498; border-bottom: 5px solid #045498; box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff; }
.headerImage h1 { padding-top: 50px; }
.headerImage img { max-height: 345px; }
.infoBox { height: 200px; color: white; text-align: center; background-color: #045498; border-radius: 25px; }
.infoBox a { text-decoration: none; }
.infoBox a:hover { color: #045498; }
.nav { width: 100%; padding-top: 5px; background-color: white; }
.nav li { display: inline; float: left; padding-top: 15px; padding-left: 40px; list-style-type: none; }
.nav li a { font-size: 24px; color: #045498; text-decoration: none; }
#navLogo { display: inline; float: left; margin-right: 200px; margin-left: 165px; }
#navWrapper { width: 100%; }
.pageBox { padding: 10px; }
.pageSubBox,
.pageSubBox3 { display: inline; height: 150px; margin-bottom: 10px; text-align: center; background-color: #f2f8fd; border-radius: 25px; }
.pageSubBox2 { height: 50px; padding: 10px; margin-bottom: 10px; text-align: left; background-color: #f2f8fd; border-radius: 25px; }
.pageSubBox4 { height: 250px; background-color: transparent; border-radius: 25px; }
.pageBoxLink { display: inline; height: 85px; margin-bottom: 10px; text-align: center; background-color: white; border-radius: 15px; }
.prWrapper { background-color: white; border-radius: 25px; }
.prWrapper h1,
h2,
h3,
h4,
h5,
h6 { text-align: center; }
.pr { padding-right: 10px; padding-left: 10px; }
.section { padding-top: 10px; margin-top: 68px; }
.section2 { margin-top: 45px; }
.sectionBox { padding: 15px; background-color: #f2f8fd; border-radius: 25px; }
.sectionBox p{ margin: 10px; }
.sectionSubBox { display: inline; height: 200px; text-align: center; background-color: #f2f8fd; border-radius: 25px; }
.sectionSubBox2 { display: inline; height: 160px; text-align: center; background-color: #f2f8fd; border-radius: 25px; }
.sectionTwo { background-color: white; }
.smBox { height: 350px; text-align: center; background-color: #f2f8fd; border-radius: 25px; }
.smBoxBlog { height: 350px; text-align: justify; background-color: #f2f8fd; border-radius: 25px; }
.smBoxBlog p { padding: 10px; }
.smBoxBlog h5 { padding-left: 10px; }
.smBox a,
.smBoxBlog a { color: #045498; }
.smBox h3:hover,
.smBoxBlog h3:hover,
.smBoxBlog h3:active,
.smBox h3:active { color: #cfe3f4; }
.vclink { color: #f8900a; text-decoration: underline; }
.vipImg { width: 175px; margin-top: 40px; }
.virtualText { text-align: justify; }
.webLead input { margin-bottom: 10px; }
.webLead btn { /* margin-top:20px; */ }

/* Font Awesome Icons manipulations */
.fa { color: #69bcd7; }
.fa:hover,
.fa:active,
.pageSubBox .fa:hover,
.pageSubBox .fa:active,
.pageSubBox2 .fa:hover,
.pageSubBox2 .fa:active,
.sectionSubBox .fa:hover,
.sectionSubBox .fa:active,
.pageSubBox3 .fa:hover,
.pageSubBox3 .fa:active { color: #045498; }
.fa-star,
.fa-question-circle,
.fa-trophy { font-size: 7em; }
.fa-twitter,
.fa-facebook { margin-right: 15px; font-size: 4em; }
.fa-linkedin,
.fa-google-plus { font-size: 4em; }
.pageSubBox .fa { font-size: 7em; }
.pageSubBox2 .fa { vertical align: center; margin-bottom: 20px; }
.pageSubBox3 .fa { font-size: 5em; }
.sectionSubBox .fa { font-size: 7em; }
.infoBox .fa{ color: white; }

/* Bootstrap manipulations */
.navbar .nav > li > a.indexLink { padding-left: 0; }
ul.list-inline a{ color: black; }
ul.list-inline a:hover{ color: firebrick; }
ul.list-inline .btn{ padding-right: 0; padding-left: 0; margin-right: -2px; border: 0; }
button.linkedInButton { margin-bottom: 10px; margin-left: 15px; background-color: #69bcd7; background-image: url("../img/pageImgs/Logo-21px-R.png"); border: 3px solid #69bcd7; box-shadow: none; }
button.linkedInButton:hover { background-color: #69bcd7; }
.input-append,
.input-prepend { margin-bottom: 0; }
.table th,
.table td { border-top: none; }

/* Print properties */
@media screen {
  #printSection { display: none; }
}

@media print {
  body * {
    visibility: hidden;
  }

}
@media print{
  * { display: inherit !important; font-size: 10pt !important; }
  img { display: inline; width: 15%; }
  .infoBox{ border: 1px solid black; }
  .sectionSubBox{ border: 1px solid black; }
  #printSection,
  #printSection * { visibility: visible; }
  #printSection { position: absolute; top: 0; left: 0; }

  /* .span1 {width:51px;padding:0px;margin:0px;}
	.span2 {width:102px;padding:0px;margin:0px;}
	.span3 {width:153px;padding:0px;margin:0px;}
	.span4 {width:204px;padding:0px;margin:0px;}
	.span5 {width:255px;padding:0px;margin:0px;}
	.span6 {width:306px;padding:0px;margin:0px;}
	.span7 {width:357px;padding:0px;margin:0px;}
	.span8 {width:408px;padding:0px;margin:0px;}
	.span9 {width:459px;padding:0px;margin:0px;}
	.span10 {width:510px;padding:0px;margin:0px;}
	.span11 {width:561px;padding:0px;margin:0px;}
	.span12 {width:612px;padding:0px;margin:0px;} */
}

/* Simple Scroll */

/* Container DIV - automatically generated */
.simply-scroll-container { position: relative; }

/* Clip DIV - automatically generated */
.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list { padding: 0; margin: 0; overflow: hidden; list-style: none; }
.simply-scroll-list li { padding: 0; margin: 0; list-style: none; }
.simply-scroll-list li img { display: block; border: none; }

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll { height: 300px; margin-bottom: 1em; background-color: #f2f8fd; border-radius: 25px; }

/* Clip DIV */
.simply-scroll .simply-scroll-clip { /* width: 576px; */height: 300px; }

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li { float: left; /* Horizontal scroll only */width: 285px; height: 300px; margin-top: 55px; margin-left: 35px; }

/* Responsive Styling */
@media (min-width: 768px) {
  body { /* padding-top:77px; static-top Nav Bar Height */ }
  .mobileImg { margin-top: 50px; }
  .gdImg { margin-top: 0; }
  .headerImage img { margin-top: 5px; }
}
@media (max-width: 800px) {
  body { padding-top: 5px; /* No static-top Nav Bar */font-size: 15px; }
  .section { padding-top: 10px; margin-top: 25px; }
  .pageSubBox4 { height: 150px; }
  h3 { font-size: 20px; }
  h1 { font-size: 32px; }
}
@media (max-width: 699px) {
  .mobileImg { width: 80%; margin-left: 10%; }
  .mImgFix { width: 150px; height: 150px; }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .nav li { padding-left: 20px; }
  .nav li a { font-size: 20px; }

}

/* Tablet Stylings */
#imgLink { padding-top: 10px; padding-right: 50px; padding-bottom: 10px; margin-left: -20px; }
.navLink { margin-top: 5px; margin-right: 10px; font-size: 1.2em; }
.tabNav { margin-top: 5px; background-color: white; border-radius: 25px; }
.tabNav li { float: left; padding: 5px; list-style: none; }

/* Mobile Stylings */
.mNav { height: 625px; margin-top: 0; background-color: white; }
.mNav2 { margin-top: 0; background-color: white; }
.mNavButton { display: block; padding: 15px; margin-top: 25px; margin-right: 15px; margin-bottom: 5px; margin-left: 15px; font-size: 22px; color: #045498; text-align: center; background-color: #e7f1fa; }
.mNavButton2 { display: block; padding: 15px; margin-top: 25px; margin-right: 15px; margin-bottom: 5px; margin-left: 15px; font-size: 22px; color: #045498; text-align: center; background-color: white; }
