.da-slider{
  position: relative;
  width: 100%;
  min-width: 600px;
  height: 350px;

  /* margin: 30px auto; */
  overflow: hidden;
  background: transparent url(../img/cc3_2.jpg) repeat 0% 0%;
  border-top: 5px solid #005397;
  border-bottom: 5px solid #005397;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 -2px 1px #fff;
  -webkit-transition: background-position 1s ease-out .3s;
  -moz-transition: background-position 1s ease-out .3s;
  -o-transition: background-position 1s ease-out .3s;
  -ms-transition: background-position 1s ease-out .3s;
  transition: background-position 1s ease-out .3s;
}
.da-slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  text-align: left;
  background: transparent url("../img/bgSlide.png") repeat;

}
.da-slide-current{
  z-index: 1000;
}
.da-slider-fb .da-slide{
  left: 100%;
}
.da-slider-fb .da-slide.da-slide-current{
  left: 0;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
  position: absolute;
  left: 110%;
  opacity: 0;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
  left: 10%;
  opacity: 1;
}
.da-slider-fb .da-slide .da-img{
  left: 60%;
  opacity: 1;
}
.da-slide h2{
  top: 60px;
  z-index: 10;
  width: 30%;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #005397;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  white-space: nowrap;
}
.da-slide p{
  top: 125px;
  width: 35%;

  /* height: 80px; */
  overflow: hidden;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #005397;
}
.da-slide .da-img{
  top: 5px;
  left: 110%; /* 60% */

  /* text-align: center; */
  width: 100%;
  height: 350px;
  line-height: 320px;
}
.da-slide .da-link{
  top: 280px; /* depends on p height */
  width: 80px;
  padding: 2px 20px 0;
  font-size: 14px;
  line-height: 30px;
  color: #005397;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  background: rgba(255, 255, 255, .8);
  border: 8px solid #005397;
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.da-slide .da-link:hover{
  background: rgba(255, 255, 255, .3);
}
.da-dots{
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 2000;
  width: 100%;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.da-dots span{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 3px;
  cursor: pointer;
  background: #005397;
  border-radius: 50%;
  box-shadow:
		1px 1px 1px rgba(0, 0, 0, .1) inset, 1px 1px 1px rgba(255, 255, 255, .1);
}
.da-dots span.da-dots-current::after{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  content: "";
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#ededed", GradientType=0);
  border-radius: 50%;
}
.da-arrows{
  -moz-user-select: none;
  -webkit-user-select: none;
}
.da-arrows span{
  position: absolute;
  top: 50%;
  z-index: 2000;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #005397;
  border-radius: 50%;
  box-shadow:
		1px 1px 1px rgba(0, 0, 0, .1) inset, 1px 1px 1px rgba(255, 255, 255, .1);
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out-out .2s;
  -moz-transition: opacity .4s ease-in-out-out .2s;
  -o-transition: opacity .4s ease-in-out-out .2s;
  -ms-transition: opacity .4s ease-in-out-out .2s;
  transition: opacity .4s ease-in-out-out .2s;
}
.da-slider:hover .da-arrows span{
  opacity: 1;
}
.da-arrows span::after{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  content: "";
  background: transparent url(../img/arrows.png) no-repeat top left;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.da-arrows span:hover::after{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}
.da-arrows span:active::after{
  box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}
.da-arrows span.da-arrows-next::after{
  background-position: top right;
}
.da-arrows span.da-arrows-prev{
  left: 40px;
}
.da-arrows span.da-arrows-next{
  right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
  left: 20%;
  opacity: 1;
}
.da-slide-current .da-img{
  left: 60%;
  opacity: 1;
}

/* Animation classes and animations */

/* Slide in from the right */
.da-slide-fromright h2{
  -webkit-animation: fromrightanim1 .6s ease-in-out .8s both;
  -moz-animation: fromrightanim1 .6s ease-in-out .8s both;
  -o-animation: fromrightanim1 .6s ease-in-out .8s both;
  -ms-animation: fromrightanim1 .6s ease-in-out .8s both;
  animation: fromRightAnim1 .6s ease-in-out .8s both;
}
.da-slide-fromright p{
  -webkit-animation: fromrightanim2 .6s ease-in-out .8s both;
  -moz-animation: fromrightanim2 .6s ease-in-out .8s both;
  -o-animation: fromrightanim2 .6s ease-in-out .8s both;
  -ms-animation: fromrightanim2 .6s ease-in-out .8s both;
  animation: fromRightAnim2 .6s ease-in-out .8s both;
}
.da-slide-fromright .da-link{
  -webkit-animation: fromrightanim3 .4s ease-in-out 1.2s both;
  -moz-animation: fromrightanim3 .4s ease-in-out 1.2s both;
  -o-animation: fromrightanim3 .4s ease-in-out 1.2s both;
  -ms-animation: fromrightanim3 .4s ease-in-out 1.2s both;
  animation: fromRightAnim3 .4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
  -webkit-animation: fromrightanim4 .6s ease-in-out .8s both;
  -moz-animation: fromrightanim4 .6s ease-in-out .8s both;
  -o-animation: fromrightanim4 .6s ease-in-out .8s both;
  -ms-animation: fromrightanim4 .6s ease-in-out .8s both;
  animation: fromRightAnim4 .6s ease-in-out .8s both;
}
@-webkit-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

/* Slide in from the left */
.da-slide-fromleft h2{
  -webkit-animation: fromleftanim1 .6s ease-in-out .6s both;
  -moz-animation: fromleftanim1 .6s ease-in-out .6s both;
  -o-animation: fromleftanim1 .6s ease-in-out .6s both;
  -ms-animation: fromleftanim1 .6s ease-in-out .6s both;
  animation: fromLeftAnim1 .6s ease-in-out .6s both;
}
.da-slide-fromleft p{
  -webkit-animation: fromleftanim2 .6s ease-in-out .6s both;
  -moz-animation: fromleftanim2 .6s ease-in-out .6s both;
  -o-animation: fromleftanim2 .6s ease-in-out .6s both;
  -ms-animation: fromleftanim2 .6s ease-in-out .6s both;
  animation: fromLeftAnim2 .6s ease-in-out .6s both;
}
.da-slide-fromleft .da-link{
  -webkit-animation: fromleftanim3 .4s ease-in-out 1.2s both;
  -moz-animation: fromleftanim3 .4s ease-in-out 1.2s both;
  -o-animation: fromleftanim3 .4s ease-in-out 1.2s both;
  -ms-animation: fromleftanim3 .4s ease-in-out 1.2s both;
  animation: fromLeftAnim3 .4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
  -webkit-animation: fromleftanim4 .6s ease-in-out .6s both;
  -moz-animation: fromleftanim4 .6s ease-in-out .6s both;
  -o-animation: fromleftanim4 .6s ease-in-out .6s both;
  -ms-animation: fromleftanim4 .6s ease-in-out .6s both;
  animation: fromLeftAnim4 .6s ease-in-out .6s both;
}
@-webkit-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
  0%{ left: 0%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 20%; opacity: 1; }
}
@keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

/* Slide out to the right */
.da-slide-toright h2{
  -webkit-animation: torightanim1 .6s ease-in-out .6s both;
  -moz-animation: torightanim1 .6s ease-in-out .6s both;
  -o-animation: torightanim1 .6s ease-in-out .6s both;
  -ms-animation: torightanim1 .6s ease-in-out .6s both;
  animation: toRightAnim1 .6s ease-in-out .6s both;
}
.da-slide-toright p{
  -webkit-animation: torightanim2 .6s ease-in-out .3s both;
  -moz-animation: torightanim2 .6s ease-in-out .3s both;
  -o-animation: torightanim2 .6s ease-in-out .3s both;
  -ms-animation: torightanim2 .6s ease-in-out .3s both;
  animation: toRightAnim2 .6s ease-in-out .3s both;
}
.da-slide-toright .da-link{
  -webkit-animation: torightanim3 .4s ease-in-out both;
  -moz-animation: torightanim3 .4s ease-in-out both;
  -o-animation: torightanim3 .4s ease-in-out both;
  -ms-animation: torightanim3 .4s ease-in-out both;
  animation: toRightAnim3 .4s ease-in-out both;
}
.da-slide-toright .da-img{
  -webkit-animation: torightanim4 .6s ease-in-out both;
  -moz-animation: torightanim4 .6s ease-in-out both;
  -o-animation: torightanim4 .6s ease-in-out both;
  -ms-animation: torightanim4 .6s ease-in-out both;
  animation: toRightAnim4 .6s ease-in-out both;
}
@-webkit-keyframes toRightAnim1{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
  0%{ left: 20%; opacity: 1; }
}
100%{ left: 100%; opacity: 0; }
@-webkit-keyframes toRightAnim3{
  0%{ left: 20%; opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 55%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
  0%{ left: 20%; opacity: 1;1 }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
  0%{ left: 20%; opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 55%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
  0%{ left: 20%; opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 55%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
  0%{ left: 20%; opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 55%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
  0%{ left: 20%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
  0%{ left: 20%; opacity: 1; }
  99%{ left: 20%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 55%; opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

/* Slide out to the left */
.da-slide-toleft h2{
  -webkit-animation: toleftanim1 .6s ease-in-out both;
  -moz-animation: toleftanim1 .6s ease-in-out both;
  -o-animation: toleftanim1 .6s ease-in-out both;
  -ms-animation: toleftanim1 .6s ease-in-out both;
  animation: toLeftAnim1 .6s ease-in-out both;
}
.da-slide-toleft p{
  -webkit-animation: toleftanim2 .6s ease-in-out .3s both;
  -moz-animation: toleftanim2 .6s ease-in-out .3s both;
  -o-animation: toleftanim2 .6s ease-in-out .3s both;
  -ms-animation: toleftanim2 .6s ease-in-out .3s both;
  animation: toLeftAnim2 .6s ease-in-out .3s both;
}
.da-slide-toleft .da-link{
  -webkit-animation: toleftanim3 .6s ease-in-out .6s both;
  -moz-animation: toleftanim3 .6s ease-in-out .6s both;
  -o-animation: toleftanim3 .6s ease-in-out .6s both;
  -ms-animation: toleftanim3 .6s ease-in-out .6s both;
  animation: toLeftAnim3 .6s ease-in-out .6s both;
}
.da-slide-toleft .da-img{
  -webkit-animation: toleftanim4 .6s ease-in-out .5s both;
  -moz-animation: toleftanim4 .6s ease-in-out .5s both;
  -o-animation: toleftanim4 .6s ease-in-out .5s both;
  -ms-animation: toleftanim4 .6s ease-in-out .5s both;
  animation: toLeftAnim4 .6s ease-in-out .5s both;
}
@-webkit-keyframes toLeftAnim1{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
  0%{ left: 20%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
  0%{ left: 60%; opacity: 1; }
  30%{ left: 70%; opactiy: 1; }
  70%{ left: 30%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
  0%{ left: 20%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
  0%{ left: 60%; opacity: 1; }
  70%{ left: 30%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
  0%{ left: 20%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
  0%{ left: 60%; opacity: 1; }
  70%{ left: 30%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
  0%{ left: 20%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
  0%{ left: 60%; opacity: 1; }
  70%{ left: 30%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
  0%{ left: 20%; opacity: 1; }
  30%{ left: 25%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
  0%{ left: 20%; opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
  0%{ left: 60%; opacity: 1; }
  70%{ left: 30%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
