name: Docker Image CI

on:
  push:
    branches: [ main ]
    paths: [ 'website/*' ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{secrets.DOCKER_USER}}
        password: ${{secrets.DOCKER_PASSWORD}}
    
    - name: Build the Docker image
      run: docker build website/ --tag ${{secrets.DOCKER_USER}}/portfolio_website:latest

    - name: Push the Docker image
      run: docker push ${{secrets.DOCKER_USER}}/portfolio_website
